<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <header id="header" th:fragment="menu">
        <a th:href="@{/Bienvenida}"><img style="margin: 4px 0px 0px 7px;" th:src="@{/images/centenario.png}" height="46" width="80" alt="logo centenario"/></a>
        <nav id="nav">
        <ul>
            <li><a th:href="@{/Bienvenida}">Inicio</a></li>
            <li>
                <a href="#" class="submenu">Menú</a>
                <ul>
                    <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                    <li><a th:href="@{/MantenimientoVehiculos}">Mantenimiento de Vehículos</a></li>
                    <li><a th:href="@{/MantenimientoEmpleados}">Mantenimiento de Empleados</a></li>
                    <li><a href="#">Rack</a>
                        <ul>
                            <li><a th:href="@{/AltaRack}">Mantenimiento de Rack</a></li>
                            <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lote</a>
                        <ul>
                            <li><a th:href="@{/AltaLote}">Alta de Lote</a></li>
                            <li><a th:href="@{/MoverLote}">Mover Lote</a></li>
                            <li><a th:href="@{/BajaLoteXVencimiento}">Baja Lote por Vencimiento</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pedido</a>
                        <ul>
                            <li><a th:href="@{/ListadoDePedidos}">Listado de Pedidos</a></li>
                            <li><a th:href="@{/EstadoDePedido}">Estado de Pedidos</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Entregas</a>
                        <ul>
                            <li><a th:href="@{/GenerarViaje}">Generar Viaje</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/}">Salir</a></li>
        </ul>
    </nav>
    </header>

    <header id="header" th:fragment="menuIndex">
        <a th:href="@{/Bienvenida}"><img style="margin: 4px 0px 0px 7px;" th:src="@{/images/centenario.png}" height="46" width="80" alt="logo centenario"/></a>
        <nav id="nav">
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>

    <header id="header" th:fragment="menuFuncionario">
        <a th:href="@{/Bienvenida}"><img style="margin: 4px 0px 0px 7px;" th:src="@{/images/centenario.png}" height="46" width="80" alt="logo centenario"/></a>
        <nav id="nav">
            <ul>
                <li><a th:href="@{/Bienvenida}">Inicio</a></li>
                <li>
                    <a href="#" class="submenu">Menú</a>
                    <ul>
                        <li><a href="#">Rack</a>
                            <ul>
                                <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Lote</a>
                            <ul>
                                <li><a th:href="@{/MoverLote}">Mover Lote</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pedido</a>
                            <ul>
                                <li><a th:href="@{/RealizarPicking}">Realizar Picking</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/}">Salir</a></li>
            </ul>
        </nav>
    </header>

    <header id="header" th:fragment="menuRepartidor">
        <a th:href="@{/Bienvenida}"><img style="margin: 4px 0px 0px 7px;" th:src="@{/images/centenario.png}" height="46" width="80" alt="logo centenario"/></a>
        <nav id="nav">
            <ul>
                <li><a th:href="@{/Bienvenida}">Inicio</a></li>
                <li>
                    <a href="#" class="submenu">Menú</a>
                    <ul>
                        <li><a href="#">Pedido</a>
                            <ul>
                                <li><a th:href="@{/EntregaDePedidos}">Entrega de Pedidos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/}">Salir</a></li>
            </ul>
        </nav>
    </header>

    <header id="header" th:fragment="menuOperador">
        <a th:href="@{/Bienvenida}"><img style="margin: 4px 0px 0px 7px;" th:src="@{/images/centenario.png}" height="46" width="80" alt="logo centenario"/></a>
        <nav id="nav">
            <ul>
                <li><a th:href="@{/Bienvenida}">Inicio</a></li>
                <li>
                    <a href="#" class="submenu">Menú</a>
                    <ul>
                        <li><a href="#">Pedido</a>
                            <ul>
                                <li><a th:href="@{/AltaOrdenDePedido}">Alta Orden de Pedido</a></li>
                                <li><a th:href="@{/EstadoDePedido}">Estado de Pedidos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/}">Salir</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>