<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Productos</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	<!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
	<style>
		@media only screen and (max-width: 480px){
			input[type="text"],
			input[type="number"] {
				width: 100% !important;
			}
			#btnBuscar{
				float: right;
			}
		}
	</style>
</head>
<body>

	<!-- Header -->
	<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
		<header th:replace="fragments/header :: menu"> </header>
	</th:block>

	<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<header class="major">
					<h2>Sección Usuarios</h2>
				</header>

				<!-- Content -->
					<div class="content">
						<!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
						<h3>Mantenimiento de Productos</h3>

						<!-- Formulario con la Tabla -->
						<form action="#" th:action="@{/ABMProducto}" th:object="${producto}" method="post">
							<table width="100%">
							  <tbody>
								<tr>
								  <td style="width: 20%">ID:</td>
								  <td>
									  <input type="number" th:field ="*{Codigo}" th:readonly="${codigoSoloLectura}" id="id" size="1" style="width: 30%; display: inline-block;"/> <!-- cursor: not-allowed; -->
									  <input id="btnBuscar" type="submit" name="action" value="Buscar" th:disabled="${!botonBuscar}" />
								  </td>
								</tr>
								<tr>
								  <td>Nombre:</td>
									<td style="text-align: left">
									  <input type="text" th:field ="*{Nombre}" style="width: 60%" />
									</td>
								</tr>
								<tr>
									<td>Precio:</td>
									<td>
									  <input step="any" th:field="*{PrecioActual}" size="1" style="width: 30%" type="number"/>
									</td>
								</tr>
								<tr>
								  <td>Stock mínimo</td>
								  <td>
									  <input  type="number" th:field ="*{MinStock}" size="1" style="width: 30%"/>
								  </td>
								</tr>
								<tr>
								  <td>Stock Crítico</td>
								  <td>
									  <input type="number" th:field ="*{StockCritico}" size="1" style="width: 30%"/>
								  </td>
								</tr>
								<tr>
								  <td>Stock Máximo</td>
								  <td>
									  <input type="number" th:field ="*{MaxStock}" size="1" style="width: 30%"/>
								  </td>
								</tr>
								<tr>
								  <td colspan="2" style="text-align: center">
									  <input type="submit" name="action" value="Agregar" th:disabled="${!botonAgregar}"/>
									  <input type="submit" name="action" value="Eliminar" th:disabled="${!botonEliminar}"/>
									  <input type="submit" name="action" value="Modificar" th:disabled="${!botonModificar}"/>
									  <input type="submit" name="action" value="Limpiar" />
									</td>
								</tr>
							  </tbody>
							</table>

							<table th:if="${tablaListaProductos}">
							<th>ID</th>
							<th>Nombre</th>
							<tbody>
							<tr th:each="prod : ${productos}">
								<td th:text="${prod.Codigo}">id</td>
								<td th:text="${prod.Nombre}">nombre</td>
								<td><a th:href="@{'/ABMProducto/' + ${prod.Codigo}}">Ver</a></td>
							</tr>
							</tbody>
							</table>

						</form>
						<th:block th:each="m : ${mensajes}">
							<label th:text="${m}"></label>
						</th:block>
					</div>

			</div>
		</section>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer">

	</div>

</body>
</html>