<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AB Vehículo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
        @media screen and (min-width: 1280px){
            #botonera{
                text-align: center !important;
            }
        }
    </style>
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
    <header th:replace="fragments/header :: menu"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header >
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <h3>Mantenimiento de Vehículos</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/MantenimientoVehiculos}" th:object="${vehiculo}" name="ABVehiculo" method="post">

                <table width="100%">
                    <tbody>
                    <tr>
                        <td style="width: 20%">Matrícula:</td>
                        <td style="width: 70%"><input type="text" id="matricula" size="1" style="width: 30%" th:field="*{Matricula}" th:readonly="${matriculaSoloLectura}"/></td>
                    </tr>
                    <tr>
                        <td>Marca:</td>
                        <td><input type="text" id="marca" size="1" style="width: 60%" th:field="*{Marca}"/></td>
                    </tr>
                    <tr>
                        <td>Modelo:</td>
                        <!--  -->
                        <td><input type="text" id="modelo" size="1" style="width: 60%" th:field="*{Modelo}"/></td>
                    </tr>
                    <tr>
                        <td>Carga máx.:</td>
                        <td><input type= "number" id="cargaMax" size="1" style="width: 30%" th:field="*{CargaMax}"/></td>
                    </tr>

                    <tr>
                        <td colspan="2" id="botonera">
                            <input type="submit" name="action" value="Agregar" th:disabled="${!botonAgregar}"/>
                            <input type="submit" name="action" value="Eliminar" th:disabled="${!botonEliminar}"/>
                            <input type="submit" name="action" value="Buscar" th:disabled="${!botonBuscar}"/>
                            <input type="submit" name="action" value="Limpiar" />
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>

            <th:block th:each="m : ${mensajes}">
                <label th:text="${m}"></label>
            </th:block>

        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>