<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alta de Lotes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: menu">

</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Alta de lotes</h3>

            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/AltaLote}" th:object="${lote}" method="post">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td>Fecha Ingreso:</td>
                        <td>
                            <input type="text" th:field="*{fechaIngreso}" readonly="readonly" style="width: 30%"/>
                        </td>
                    </tr>

                    <tr>
                        <td>Producto: </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" onclick="desplegarDDL()" class="dropbtn flechaAbajo" id="btnSeleccionar">Seleccionar</button>
                                <div id="desplegable" class="dropdown-content">
                                    <input type="text" placeholder="Buscar.." id="entrada" onkeyup="filtrarDDL()" />
                                        <a th:each="prod: ${productos}" th:text="${prod.Nombre}" th:onclick="|seleccionarValor(${prod.Codigo}, ${'''' + prod.Nombre + ''''})|" ></a>
                                </div>
                            </div>
                            <input type="hidden" id="idDropdown" th:field="*{Producto}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Cantidad Unidades:</td>
                        <td>
                            <input type="number" th:field="*{cantUnidades}" style="width: 20%"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Fecha Vencimiento:</td>
                        <td>
                            <!--- <input type="text" th:field="*{fechaVencimiento}"/> -->
                            <input type="date" th:field="*{fechaVencimiento}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Ubicación</td>
                        <td>
                            <select th:field="*{Ubicacion.Rack}" style="width: 30%">
                                <option th:value="NULL">Seleccione Rack</option>
                                <option th:each="r : ${racks}" th:value="${r.Letra}"  th:text="${r.Letra}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Filas (alto)</td>
                        <td>
                            <input type="number" th:field="*{Ubicacion.Fila}" style="width: 20%"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Columnas (largo)</td>
                        <td>
                            <input type="number" th:field="*{Ubicacion.Columna}" style="width: 20%"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">
                            <input type="submit" name="action" value="Agregar" />

                            <input type="submit" name="action" value="Limpiar" />
                        </td>
                    </tr>
                    </tbody>
                </table>


            </form>
            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>
<script th:src="@{assets/js/ddlFiltrable.js}"></script>

</body>
</html>