<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
    <style>
        @media only screen and (max-width: 480px){
            input[type=text],
            input[type=number]
            {
                width: 100% !important;
            }
            #btnBuscar {
                float: right;
            }
        }
    </style>
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
    <header th:replace="fragments/header :: menu"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Mantenimiento de Racks</h3>

            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/AltaRack}" th:object="${rack}" method="post">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td width="25%">Letra:</td>
                        <td width="75%">
                            <input type="text" th:field ="*{Letra}" th:readonly="${letraBloqueado}" th:style="'width: 100px; display: inline; cursor: ' + ${btnNoAllowed} + ';'" size="7"/>
                            <input type="submit" id="btnBuscar" name="action" value="Buscar" style="display: inline-block" th:disabled="${!botonBuscar}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Dimension Alto:</td>
                        <td>
                            <input type="number" th:field ="*{DimAlto}" style="width: 100px"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Dimension Ancho:</td>
                        <td>
                            <input type="number" th:field="*{DimAncho}" style="width: 100px"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="action" value="Agregar" th:disabled="${!botonAgregar}"/>
                            <input type="submit" name="action" value="Eliminar" th:disabled="${!botonEliminar}"/>

                            <input type="submit" name="action" value="Limpiar" />
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
            <th:block th:each="m : ${mensajes}">
                <label th:text="${m}"></label>
            </th:block>
        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>