<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alta Orden de Pedidos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
        .grilla tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}
    </style>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1 id="logo"><a th:href="@{/}">Centenario</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li>
                <a href="#" class="submenu">Menú</a>
                <ul>
                    <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                    <li><a th:href="@{/AltaRack}">Alta Rack</a></li>
                    <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                    <li><a th:href="@{/AltaLote}">Alta Lote</a></li>
                    <li><a th:href="@{/MoverLote}">Mover Lote</a></li>
                    <li><a th:href="@{/BajaLoteXVencimiento}">Baja de Lote por Vencimiento</a></li>
                    <li><a th:href="@{/EstadoDePedido}">Estado de pedidos</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Opción uno</a></li>
                            <li><a href="#">Opción dos</a></li>
                            <li><a href="#">Opción tres</a></li>
                            <li><a href="#">Opción cuatro</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>ALTA ORDEN DE PEDIDOs</h3>
            <!-- Formulario con la Tabla -->
            <table th:if="${tablaBusquedaCliente}" id="buscarCliente">
                <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                    <tbody>
                        <tr>
                            <td style="width: 20%">Nombre Cliente: </td>
                            <td><input type="text" name="nombreCliente" maxlength="30"/></td>
                            <td><input type="submit" name="action" value="Buscar" /></td>
                        </tr>
                    </tbody>
                </form>
            </table>

                <table th:if="${tablaClientes}" class="grilla" style="display: table" id="hiddenClienteTable">
                    <thead>
                    <tr>
                        <th style="width: 35%">Nombre: </th>
                        <th style="width: 15%">Teléfono: </th>
                        <th>e-mail: </th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="c : ${clientes}">
                            <form action="#" th:action="@{/AltaOrdenDePedido}" method = "post">
                                <td th:text="${c.Nombre}"></td>
                                <td th:text="${c.Telefono}"></td>
                                <td th:text="${c.Correo}"></td>
                                <td>
                                    <input type="hidden" th:value="${c.Nombre}" name="nombre"/>
                                    <input type="submit" name="action" value="Seleccionar" />
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                                <td colspan="4" align="right"> <input type="submit" name="action" value="Agregar nuevo cliente" align="right"/> </td>
                            </form>
                        </tr>
                    </tbody>
                </table>


                <table th:if="${tablaAltaCliente}" id="altaCliente">
                    <form action="#" th:action="@{/AltaOrdenDePedido}" method="post" th:object="${cliente}">
                            <thead>
                            <th>Alta Cliente</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Nombre: </td>
                                <td><input type="text" th:field="*{Nombre}"/></td>
                                <td>Teléfono: </td>
                                <td><input type="text" th:field="*{Telefono}"/></td>
                            </tr>
                            <tr>
                                <td>E-mail: </td>
                                <td><input type="text" th:field="*{Correo}"/></td>
                                <td colspan="2" align="right"><input type="submit" name="action" value="Agregar Cliente" /></td>
                            </tr>
                            </tbody>
                    </form>
                </table>

                <table th:if="${tablaProducto}" id="seleccionarCliente">
                    <tbody>
                    <tr>
                        <td>Cliente seleccionado:  <label th:text="${session.cliente.Nombre}"></label> </td>
                    </tr>
                    </tbody>
                </table>


                <table th:if="${tablaProducto}" id="tablaProducto">
                    <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                        <tbody>
                            <tr>
                                <td style="width: 10%">Producto: </td>

                                <td>
                                    <select name="producto">
                                        <option th:value="NULL">Seleccione Producto</option>
                                        <option th:each="prod : ${session.productos}" th:value="${prod.Codigo}" th:text="${prod.Nombre + ' ($' + prod.PrecioActual + ' c/u)'}"></option>
                                    </select>
                                </td>

                                <td style="width: 15%">Cantidad Unidades: </td>
                                <td style="width: 15%"> <input type="text" size="1" name="cantUnidades"/> </td>
                                <td style="width: 10%"> <input type="submit" name="action" value="Agregar" /> </td>
                            </tr>
                        </tbody>
                    </form>
                </table>

                <!--<table th:if="${tablaProducto and (#lists.size(session.orden.Lineas)>0)}" class="grilla" id="desplegarLineas">-->
                <table th:if="${tablaProducto}" class="grilla" id="desplegarLineas">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                    <tr th:each="linea : ${session.orden.Lineas}">
                        <td th:text="${linea.Numero}"></td>
                        <td th:text="${linea.Producto.Nombre}"></td>
                        <td th:text="${linea.Cantidad}"></td>
                        <td th:text="${'$' + linea.Importe}"></td>
                        <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                            <td style="text-align: right; width: 10%"><input type="hidden" name="numeroLinea" th:value="${linea.Numero}"/><input type="submit" name="action" value="Eliminar" align="right" /></td>
                        </form>
                    </tr>
                    </tbody>
                </table>

                <label th:text="${mensajeStock}"></label>

                <table th:if="${tablaProducto}" id="confirmacionPedido">
                    <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                        <tbody>
                        <tr><td> </td> <td><label th:text="${'Subtotal: $' + session.orden.Subtotal + ', Impuestos: $' + session.orden.Impuestos + ', Total: $' + session.orden.Total}"></label></td></tr>
                        <tr><td style="width: 25%">Dirección de envío:</td> <td><input type="text" name="direccionEnvio"/></td></tr>
                        <tr><td>Contacto: </td><td><input type="text" name="contacto"/></td></tr>
                        <tr style="text-align: right"><td colspan="2"><input type="submit" name="action" value="Finalizar" align="right" /> &nbsp;<input type="submit" name="action" value="Limpiar" align="right" /></td>
                        </tr>
                        </tbody>
                    </form>
                </table>

                <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">

    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>