<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alta Orden de Pedidos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
        .grilla tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}
        @media only screen and (max-width: 480px){
            #nombreCliente,
            input[type="text"],
            input[type="number"]{
                width: 100% !important;
            }
            #btnBuscar, #btnAgregarCliente{
                float: right !important;
            }
        }
        @media only screen and (max-width: 1200px){
            #cantUnidades{
                width: 100% !important;
            }
            #btnAgregarProd{
                float: right !important;
            }
        }
        @media only screen and (min-width: 1235px){
            #btnAgregarCliente{
                float: right !important;
            }
        }
    </style>
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'operador'}">
    <header th:replace="fragments/header :: menuOperador"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>ALTA ORDEN DE PEDIDOs</h3>
            <!-- Formulario con la Tabla -->
            <table th:if="${tablaBusquedaCliente}" id="buscarCliente">
                <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                    <tbody>
                        <tr>
                            <td style="width: 10%">Cliente: </td>
                            <td><input type="text" id="nombreCliente" name="nombreCliente" placeholder="Nombre" maxlength="30" style="display: inline-block; width: auto;"/>
                            <input type="submit" id="btnBuscar" name="action" value="Buscar" /></td>
                        </tr>
                    </tbody>
                </form>
            </table>

            <div style="overflow-x: auto">
            <table th:if="${tablaClientes}" class="grilla" style="display: table" id="hiddenClienteTable">
                <thead>
                <tr>
                    <th style="width: 35%">Nombre: </th>
                    <th style="width: 15%">Teléfono: </th>
                    <th>e-mail: </th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="c : ${clientes}">
                        <form action="#" th:action="@{/AltaOrdenDePedido}" method = "post">
                            <td th:text="${c.Nombre}"></td>
                            <td th:text="${c.Telefono}"></td>
                            <td th:text="${c.Correo}"></td>
                            <td>
                                <input type="submit" name="action" value="Seleccionar" />
                                <input type="hidden" th:value="${c.Nombre}" name="nombre"/>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                            <td colspan="4" align="right"> <input type="submit" name="action" value="Agregar nuevo cliente" align="right"/> </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            </div>

            <div style="overflow-x: auto">
            <table th:if="${tablaAltaCliente}" id="altaCliente">
                <form action="#" th:action="@{/AltaOrdenDePedido}" method="post" th:object="${cliente}">
                        <thead>
                        <th colspan="2" style="width: 50%;">Alta Cliente</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Nombre: <input type="text" id="txtNombre" th:field="*{Nombre}" style="display: inline-block; width: 80%"/> </td>
                            <td>Teléfono: <input type="number" id="txtTelefono" th:field="*{Telefono}" style="display: inline-block; width: 80%" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">E-mail: <input type="text" th:field="*{Correo}" style="display: inline-block; width: 40%;"/>
                            <input type="submit" id="btnAgregarCliente" name="action" value="Agregar" style="display: inline-block;"/></td>
                        </tr>
                        </tbody>
                </form>
            </table>
            </div>

            <table th:if="${tablaProducto}" id="seleccionarCliente">
                <tbody>
                <tr>
                    <td>Cliente seleccionado:  <label th:text="${session.cliente.Nombre}"></label> </td>
                </tr>
                </tbody>
            </table>

            <div style="overflow-x: auto">
                <table th:if="${tablaProducto}" id="tablaProducto">
                    <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                        <tbody>
                            <tr>
                                <td style="width: 5%">Producto: </td>

                                <td style="width: 10%">
                                    <div class="dropdown">
                                        <button type="button" onclick="desplegarDDL()" class="dropbtn flechaAbajo" id="btnSeleccionar">Seleccionar</button>
                                        <div id="desplegable" class="dropdown-content">
                                            <input type="text" placeholder="Buscar.." id="entrada" onkeyup="filtrarDDL()" />
                                            <a th:each="prod: ${session.productos}" th:text="${prod.Nombre + ' ($' + prod.PrecioActual + ' c/u)'}" th:onclick="|seleccionarValor(${prod.Codigo}, ${'''' + prod.Nombre + ''''})|" ></a>
                                        </div>
                                    </div>
                                    <input type="hidden" id="idDropdown" name="producto"/>
                                </td>

                                <td style="width: 10%">Cantidad: </td>
                                <td style="width: auto"> <input type="number" size="2" id="cantUnidades" name="cantUnidades" style="display: inline-block; width: 30%;"/> <input type="submit" id="btnAgregarProd" name="action" value="Agregar" /></td>
                            </tr>
                        </tbody>
                    </form>
                </table>
            </div>
            <div style="overflow-x: auto">
            <table th:if="${tablaProducto}" class="grilla" id="desplegarLineas">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                    <tr th:each="linea : ${session.orden.Lineas}">
                        <td th:text="${linea.Numero}"></td>
                        <td th:text="${linea.Producto.Nombre}"></td>
                        <td th:text="${linea.Cantidad}"></td>
                        <td th:text="${'$' + linea.Importe}"></td>
                        <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                            <td style="text-align: right; width: 10%"><input type="hidden" name="numeroLinea" th:value="${linea.Numero}"/><input type="submit" name="action" value="Eliminar" align="right" /></td>
                        </form>
                    </tr>
                </tbody>
            </table>
            </div>

            <label th:text="${mensajeStock}"></label>

            <table th:if="${tablaProducto}" id="confirmacionPedido">
                <form action="#" th:action="@{/AltaOrdenDePedido}" method="post">
                    <tbody>
                        <tr><td colspan="2"><label th:text="${'Subtotal: $' + session.orden.Subtotal + ', Impuestos: $' + session.orden.Impuestos + ', Total: $' + session.orden.Total}"></label> </td></tr>
                        <tr><td style="width: 25%">Dirección de envío:</td> <td><input type="text" name="direccionEnvio"/></td></tr>
                        <tr><td>Contacto: </td><td><input type="text" name="contacto"/></td></tr>
                        <tr style="text-align: right"><td colspan="2"><input type="submit" name="action" value="Finalizar" align="right" /> &nbsp;<input type="submit" name="action" value="Limpiar" align="right" /></td>
                        </tr>
                    </tbody>
                </form>
            </table>

            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>



<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>
<script th:src="@{assets/js/ddlFiltrable.js}"></script>

</body>
</html>