<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Baja Lotes por Vencimiento</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
    <style>
        .grilla tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}
    </style>

</head>
<body>

<!-- Header -->
<header id="header">
    <h1 id="logo"><a th:href="@{/}">Centenario</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li>
                <a href="#" class="submenu">Menú</a>
                <ul>
                    <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                    <li><a th:href="@{/AltaRack}">Alta Rack</a></li>
                    <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                    <li><a th:href="@{/AltaLote}">Alta Lote</a></li>
                    <li><a th:href="@{/AltaOrdenDePedido}">Alta orden de pedido</a></li>
                    <li><a th:href="@{/EstadoDePedido}">Estado de pedidos</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Opción uno</a></li>
                            <li><a href="#">Opción dos</a></li>
                            <li><a href="#">Opción tres</a></li>
                            <li><a href="#">Opción cuatro</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Baja de lotes por vencimiento</h3>

            <!-- Formulario con la Tabla -->
                <table style="grilla" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Precio Producto</th>
                            <th>Cantidad Unidades</th>
                            <th>Fecha de Ingreso</th>
                            <th>Fecha de Vencimiento</th>
                            <th>Ubicación</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr th:each="l : ${lotes}">
                    <form action="#" th:action="@{/BajaLoteXVencimiento}" method="post">
                        <td th:text="${l.Id}"></td>
                        <td th:text="${l.Producto.Nombre}"></td>
                        <td th:text="${l.Producto.PrecioActual}"></td>
                        <td th:text="${l.CantUnidades}"></td>
                        <td th:text="${l.FechaIngreso}"></td>
                        <td th:text="${l.FechaVencimiento}"></td>
                        <td th:text="${l.Ubicacion.Rack.Letra + ' ' + l.Ubicacion.Fila + ' ' + l.Ubicacion.Columna}"></td>
                        <td>
                            <input type="hidden" th:value="${l.Id}" name="IdLote"/>
                            <input type="submit" name="action" value="Eliminar" />
                        </td>

                    </form>
                    </tr>

                    </tbody>
                </table>

            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>