<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Funcionarios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
		<link rel="stylesheet" th:href="@{assets/css/main.css}" />
		<!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
	</head>
	<body>
		<!--Header -->
		<header>
            <th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
                <header th:replace="fragments/header :: menu"> </header>
            </th:block>

            <th:block th:if="${session.usuarioLogueado.rol == 'funcionario'}">
                <header th:replace="fragments/header :: menuFuncionario"> </header>
            </th:block>

            <th:block th:if="${session.usuarioLogueado.rol == 'operador'}">
                <header th:replace="fragments/header :: menuOperador">	</header>
            </th:block>

            <th:block th:if="${session.usuarioLogueado.rol == 'repartidor'}">
                <header th:replace="fragments/header :: menuRepartidor"> </header>
            </th:block>
		</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="major">
						<h2>Sección Usuarios</h2>
						<p th:text="${'Bienvenido: ' + session.usuarioLogueado.getNombre()}" style="color: green;"> </p>
					</header>

					<!-- Content -->
						<div class="content">
							<img style="display: block; margin: auto; max-width: 100%; border-radius: 2%" src="images/centenario2b.jpg" alt="banner Centenario" />
							<br />
							<h4 style="text-align: center; color: mediumblue">Los prueba una vez, los prefiere siempre</h4>
						</div>

					<label th:text="${mensaje}"></label>

				</div>
			</section>

		<div th:replace="fragments/footer :: footer">

		</div>

	</body>
</html>