<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entrega de Pedidos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
    <style>
        @media only screen and (max-width: 480px){
            #botones, select, textarea{
                width: 100% !important;
            }
            #btnSelecPedido, #btnSelecViaje{
                float: right !important;
            }
        }
    </style>
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'repartidor'}">
    <header th:replace="fragments/header :: menuRepartidor"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header>
            <h2>Sección Repartidores</h2>
        </header>
        <!-- Content -->
        <div class="content">
            <h3>Entrega de Pedidos</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/EntregaDePedidos}" name="EntregaDePedidos" method="post">
                <table id="viajes">
                    <tbody>
                    <tr>
                        <td style="width: 12%; font-weight: bold">ID Viaje:</td>
                        <td>
                            <select style="display: inline-block; width: 30%" name="viajes">
                                <option th:value="-1">Seleccione viaje</option>
                                <option th:each=" v : ${session.viajes}" th:value="${v.id}" th:text="${v.id}"
                                        th:selected="${v.id == session?.viaje?.id}"></option>
                            </select>
                            <button id="btnSelecViaje" type="submit" name="action" value="Seleccionar Viaje">Seleccionar</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label th:if="${session.viaje != null}"
                                   th:text="${'Vehiculo: ' + session.viaje.vehiculo.marca + ' ' + session.viaje.vehiculo.modelo + ' ' + session.viaje.vehiculo.matricula}"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table th:if="${mostrarDdlPedidos}" id="pedidos">
                    <tbody>
                    <tr>
                        <td style="width: 12%; font-weight: bold">ID Pedido:</td>
                        <td>
                            <select style="display: inline-block; width: 30%" name="pedidos">
                                <option th:value="-1">Seleccione Pedido</option>
                                <option th:each="p : ${session.viaje.pedidos}" th:value="${p.id}" th:text="${p.id}"
                                        th:selected="${p.id == session?.pedido?.id}"></option>
                            </select>
                            <button id="btnSelecPedido" style="display: inline;" type="submit" name="action" value="Seleccionar Pedido">Seleccionar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table id="VerPedido" th:if="${tablaPedido}" style="display: table"> <!-- display: none -->
                    <tbody>
                        <tr>
                            <td style="width: 15%; font-weight: bold"># ID</td>
                            <td style="font-weight: bold">Dirección de Envío</td>
                        </tr>
                        <tr>
                            <td th:text="${session.pedido.id}">01</td>
                            <td th:text="${session.pedido.direccionEnvio}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Contacto</td>
                            <td th:text="${session.pedido.contacto}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Precio total</td>
                            <td th:text="${'$' + session.pedido.total}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea rows="2" maxlength="250" style="width: 60%"
                                                      name="Descripcion Entrega"></textarea> <br/>
                                <p id="botones" style="text-align: center; width: 60%">
                                    <button class="btnEntrga" type="submit" name="action" value="Entregado">
                                        <img th:src="@{assets/css/images/entregado.png}" th:srcset="@{assets/css/images/entregado.svg}" heigh="50px" width="50px"
                                             alt="Entregado"/>
                                    </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <button class="btnEntrga" type="submit" name="action" value="Cancelado">
                                        <img th:src="@{assets/css/images/cancelado.png}" th:srcset="@{assets/css/images/cancelado.svg}" heigh="50px" width="50px"
                                             alt="Cancelado"/>
                                    </button>

                                    <!-- <img src="entregado.png" alt="botón entregado" srcset="entregado.svg"> srcset para navegadores recientes
                                    el src con el .png para navegadores viejos como IE 8 o anterior que no soportan .svg-->
                                </p>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </form>
            <label th:text="${mensaje}"></label>

        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>