<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header id="header">
    <h1 id="logo"><a th:href="@{/}">Centenario</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li>
                <a href="#" class="submenu">Menú</a>
                <ul>
                    <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                    <li><a href="#">Rack</a>
                        <ul>
                            <li><a th:href="@{/AltaRack}">Mantenimiento de Rack</a></li>
                            <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lote</a>
                        <ul>
                            <li><a th:href="@{/AltaLote}">Alta de Lote</a></li>
                            <li><a th:href="@{/MoverLote}">Mover Lote</a></li>
                            <li><a th:href="@{/BajaLoteXVencimiento}">Baja de Lote por Vencimiento</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pedido</a>
                        <ul>
                            <li><a th:href="@{/AltaOrdenDePedido}">Alta Orden de Pedido</a></li>
                            <li><a th:href="@{/RealizarPicking}">Realizar Picking</a></li>
                            <li><a th:href="@{/PreparacionPedidos}">Preparar Pedidos</a></li>
                            <li><a th:href="@{/EstadoDePedido}">Estado de Pedidos</a></li>
                            <li><a th:href="@{/ListadoDePedidos}">Listado de Pedidos</a></li>
                            <li><a th:href="@{/EntregaDePedidos}">Entrega de Pedidos</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Entregas</a>
                        <ul>
                            <li><a th:href="@{/GenerarViaje}">Generar Viaje</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header >
            <h2>Sección Repartidores</h2>
        </header>
        <!-- Content -->
        <div class="content">
            <h3>Entrega de Pedidos</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/EntregaDePedidos}" name="EntregaDePedidos" method="post">
                <table id="viajes">
                    <tbody>
                    <tr>
                        <td style="width: 10%; font-weight: bold">Viajes:</td>
                        <td>
                            <select name="viajes">
                                <option th:value="-1">Seleccione viaje</option>
                                <option th:each=" v : ${session.viajes}" th:value="${v.id}" th:text="${v.id}" th:selected="${v.id == session?.viaje?.id}"></option>
                            </select>
                        </td>
                        <td style="width: 50%">
                            <!-- <input type="submit" name="action" value="Seleccionar Viaje" /> -->
                            <button type="submit" name="action" value="Seleccionar Viaje">Seleccionar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <label th:if="${session.viaje != null}" th:text="${'Vehiculo: ' + session.viaje.vehiculo.marca + ' ' + session.viaje.vehiculo.modelo + ' ' + session.viaje.vehiculo.matricula}"></label>

                <table th:if="${mostrarDdlPedidos}" id="pedidos">
                    <tbody>
                        <tr>
                            <td style="width: 10%; font-weight: bold">Pedidos:</td>
                            <td>
                                <select name="pedidos">
                                    <option th:value="-1">Seleccione Pedido</option>
                                    <option th:each="p : ${session.viaje.pedidos}" th:value="${p.id}" th:text="${p.id}" th:selected="${p.id == session?.pedido?.id}"></option>
                                </select>
                            </td>
                            <td style="width: 50%">
                                <!--<input type="submit" name="action" value="Seleccionar Pedido" /> -->
                                <button type="submit" name="action" value="Seleccionar Pedido">Seleccionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="VerPedido" th:if="${tablaPedido}" style="display: table"> <!-- display: none -->
                    <tbody>
                        <tr>
                            <td style="width: 10%; font-weight: bold"># ID</td>
                            <td style="font-weight: bold">Dirección de Envío</td>
                        </tr>
                        <tr>
                            <td th:text="${session.pedido.id}">01</td>
                            <td th:text="${session.pedido.direccionEnvio}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Contacto</td>
                            <td th:text="${session.pedido.contacto}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Precio total</td>
                            <td th:text="${'$' + session.pedido.total}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <textarea rows="2" maxlength="250" style="width: 80%" name="Descripcion Entrega"></textarea> <br />
                                <p style="text-align: center; width: 80%">
                                    <button class="btnEntrga" type="submit" name="action" value="Entregado">
                                        <img th:src="@{assets/css/images/entregado.svg}" heigh="50px" width="50px" alt="Entregado"/>
                                    </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <button class="btnEntrga" type="submit" name="action" value="Cancelado">
                                        <img th:src="@{assets/css/images/cancelado.svg}" heigh="50px" width="50px" alt="Cancelado"/>
                                    </button>

                                    <!-- <img src="entregado.png" alt="botón entregado" srcset="entregado.svg"> srcset para navegadores recientes
                                    el src con el .png para navegadores viejos como IE 8 o anterior que no soportan .svg-->
                                </p>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </form>
            <label th:text="${mensaje}"></label>

        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">

    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>