<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Estado de Rack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
        .grilla tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.075);
        }
        .bordes tbody tr td {
            border: 1px solid;
        }
        @media only screen and (max-width: 480px){
            select{
                width: 100% !important;
            }
            #btnSeleccionar{
                float: right !important;
            }
        }
    </style>
    </head>
    <body>

        <!-- Header -->
        <th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
            <header th:replace="fragments/header :: menu"> </header>
        </th:block>

        <th:block th:if="${session.usuarioLogueado.rol == 'funcionario'}">
            <header th:replace="fragments/header :: menuFuncionario"> </header>
        </th:block>

        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <header >
                    <h2>Sección Usuarios</h2>
                </header>

                <!-- Content -->
                <div class="content">
                    <h3>Estado de Racks</h3>
                    <!-- Formulario con la Tabla -->
                    <form action="#" th:action="@{/EstadoDeRack}" name="EstadoDeRack" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width: 25%"><label>Seleccione un rack: </label></td>
                                    <td>
                                        <select style="display: inline; width: 30%"  name="letraRacks">
                                            <option th:value="null">Rack</option>
                                            <option th:each="r : ${session.racks}" th:value="${r.letra}" th:text="${r.letra}"></option>
                                        </select> &nbsp; <input id="btnSeleccionar" type="submit" name="action" value="Seleccionar" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="overflow-x : auto;">
                            <table th:if="${tablaRack}" class="bordes" id="rack" style="display: table; text-align: center">
                                <tbody>
                                    <tr th:each="fila, iter1 : ${session.lotes}">
                                        <th:block th:each="l, iter2 : ${fila}"> <!--Renderizar la salida como link clickeable y pasar el lote a la func. de JavaScript -->
                                            <td th:if="${l.cantUnidades != 0}" th:onclick="|VerDatosLote(${iter1.index}, ${iter2.index})|" th:text="${l.id + ' ' + l.ubicacion.ubicacionString}" style="background-color: aqua; cursor: pointer;">ID Lote</td>
                                            <td th:if="${l.cantUnidades == 0}" th:text="${'vacío ' + l.ubicacion.ubicacionString}">vacío</td>
                                        </th:block>
                                   </tr>
                               </tbody>
                           </table>

                        </div>
                    </form>

                    <form id="formVerLote" action="#" th:action="@{/VerLote/}" name="VerLote" method="post">
                        <div style="overflow-x: auto">
                        <table id="espLote" style="display: none">
                           <thead>
                               <th style="width: 15%">Ubicación</th>
                               <th># ID</th>
                               <th style="width: 40%">Producto</th>
                               <th style="width: 10%">Cantidad</th>
                               <th>Vence</th>
                           </thead>
                           <tbody>
                           </tbody>

                            <input type="hidden" id="idVerLote" name="idLote" value=""/>

                        </table>
                        </div>
                        <label th:text="${mensaje}"></label>
                    </form>

               </div>

           </div>
        </section>

        <script th:inline="javascript">
            function VerDatosLote(i,j) {
                /*<![CDATA[*/
                var lotes = [[${session.lotes}]];
                var lote = lotes[i][j];

                var tabla = document.getElementById("espLote");
                tabla.style.display = "table";
                if(tabla.rows.length>=3) {

                    tabla.deleteRow(2);
                    tabla.deleteRow(1);
                }
                var fila = tabla.insertRow(1);

                var x = fila.insertCell(0);
                x.innerHTML = lote.ubicacion.ubicacionString;

                x = fila.insertCell(1);
                x.innerHTML = lote.id;

                x = fila.insertCell(2);
                x.innerHTML = lote.producto.nombre;

                x = fila.insertCell(3);
                x.innerHTML = lote.cantUnidades;

                x = fila.insertCell(4);
                var fechaVenc = new Date(lote.fechaVencimiento);
                x.innerHTML = fechaVenc.getDate() + "/" + (fechaVenc.getMonth() + 1) + "/" + fechaVenc.getFullYear();

                var fila2 = tabla.insertRow(2);
                var y = fila2.insertCell(0);
                y.insertAdjacentHTML('afterbegin', '<input type="submit" name="action" value="Ver Lote"/>');

                document.getElementById("idVerLote").value = lote.id;
                /*]]>*/
            }
        </script>

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer">

        </div>

    </body>
</html>