<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Movimiento de Lotes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
            .grilla tbody tr:nth-child(2n + 1) {
                background-color: rgba(144, 144, 144, 0.075);
            }
    </style>
    </head>
    <body>

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a th:href="@{/}">Centenario</a></h1>
            <nav id="nav">
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li>
                        <a href="#" class="submenu">Menú</a>
                        <ul>
                            <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                            <li><a th:href="@{/AltaRack}">Alta Rack</a></li>
                            <li><a th:href="@{/EstadoDeRack}">Estado de Rack</a></li>
                            <li><a th:href="@{/AltaLote}">Alta Lote</a></li>
                            <li><a th:href="@{/BajaLoteXVencimiento}">Baja de Lote por Vencimiento</a></li>
                            <li><a th:href="@{/AltaOrdenDePedido}">Alta orden de pedido</a></li>
                            <li><a th:href="@{/EstadoDePedido}">Estado de pedidos</a></li>
                            <li><a th:href="@{/MoverLote}">Mover Lote</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Opción uno</a></li>
                                    <li><a href="#">Opción dos</a></li>
                                    <li><a href="#">Opción tres</a></li>
                                    <li><a href="#">Opción cuatro</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <section id="main" class="wrapper">
                    <div class="inner">
                        <header >
                            <h2>Sección Usuarios</h2>
                        </header>

                        <!-- Content -->
                        <div class="content">
                            <h3>Movimiento de Lotes</h3>
                            <!-- Formulario con la Tabla -->
                            <form action="#" th:action="@{/ControladorDeposito}" name="EstadoDeRack" method="post" th:object="${listaRacks}">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="width: 25%"><label>Seleccione un rack: </label></td>
                                        <td>
                                            <select name="productos">
                                                <option th:each="r : ${racks}" th:value="$r.letra">Rack 1</option>
                                            </select>
                                        </td>
                                        <td style="width: 60%">
                                            <input type="submit" name="action" value="Seleccionar" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table th:if="${tablaRack}" class="linea" id="rack" style="display: table; text-align: center">
                                    <tbody>
                                    <tr th:each="l : ${session.lotes}">
                                        <td th:if="${l.CantUnidades != 0}" th:text="${l.Id}" style="background-color: aqua; ">ID Lote</td> <!-- Fatla crear un botón por cada lote y mostrar de a 5 por fila -->
                                        <td th:if="${l.CantUnidades == 0}" th:text="vacío">vacío</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table th:if="${tablaEspLote}" id="espLote" style="display: table">
                                    <thead>
                                        <th style="width: 15%">Ubicación</th>
                                        <th># ID</th>
                                        <th style="width: 40%">Producto</th>
                                        <th style="width: 10%">Cantidad</th>
                                        <th>Vence</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${lote.Ubicacion.Fila + ' ($' + lote.Ubicacion.Columna')'}">0101</td>
                                        <td th:text="${lote.Id}">15</td>
                                        <td th:text="${lote.Producto.Nombre}">Chorelos</td>
                                        <td th:text="${lote.Cantidad}">200</td>
                                        <td th:text="${lote.FechaVencimiento}">18/04/2019</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <label th:text="${mensaje}">Mensaje</label>

                            </form>

                        </div>

                    </div>
                </section>

        <!-- Footer -->
        <footer id="footer">

                <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
                    <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
            </footer>

    <!-- Scripts -->
    <script th:src="@{assets/js/jquery.min.js}"> </script>
    <script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
    <script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{assets/js/skel.min.js}"></script>
    <script th:src="@{assets/js/util.js}"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
    <script th:src="@{assets/js/main.js}"></script>

    </body>
</html>