<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estado de Pedido</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header id="header">
    <h1 id="logo"><a href="#">Centenario</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li>
                <a href="#" class="submenu">Menú</a>
                <ul>
                    <li><a th:href="@{/ABMProducto}">Mantenimiento de Productos</a></li>
                    <li><a th:href="@{/AltaRack}">Alta Rack</a></li>
                    <li><a th:href="@{/AltaLote}">Alta Lote</a></li>
                    <li><a th:href="@{/BajaLoteXVencimiento}">Baja de Lote por Vencimiento</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Opción uno</a></li>
                            <li><a href="#">Opción dos</a></li>
                            <li><a href="#">Opción tres</a></li>
                            <li><a href="#">Opción cuatro</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Alta Orden de Pedido</h3>

            <!-- Formulario con la Tabla -->
            <form action="ControladorProducto" name="AbmEspProducto" method="post">
                <table id="buscarCliente">
                    <tr>
                        <td colspan="2">ID Pedido:&nbsp;<input type="text" /></td>
                        <td>Nombre Cliente: &nbsp; <input type="text" /></td>
                        <td><br /><input type="button" value="Buscar" /></td>
                    </tr>
                </table>

                <!-- Tabla oculta con nombres de los Clientes que coincidan con la búsqueda -->

                <table style="display: grid" id="hiddenClienteTable">
                    <tr>
                        <th>Nombre: </th>
                        <th>Teléfono: </th>
                        <th>e-mail: </th>
                        <th>dirección: </th>
                    </tr>

                    <tr>
                        <td>Peteco Gutierrez</td>
                        <td>222222</td>
                        <td>delpato@lalala.com</td>
                        <td>Solomeo Paredes 1540</td>

                        <td><input type="submit" value="seleccionar" align="right"/>
                        </td>
                    </tr>

                </table>

                <table style="display: grid" id="hiddenPedidos">
                    <tr>
                        <th>Nombre Cliente: </th>
                        <th>ID Pedido: </th>
                        <th>Estado: </th>
                        <th>Fecha y hora de Actualización: </th>
                    </tr>

                    <tr>
                        <td>Peteco</td>
                        <td>36</td>
                        <td>pendiente</td>
                        <td>29 Set 2017 14:32</td>
                        <td><input type="submit" value="ver" align="right" /></td>
                        <td><input type="submit" value="Cancelar" align="right" /></td>
                    </tr>
                    <tr>
                        <td>Jaimito</td>
                        <td>57</td>
                        <td>entregado</td>
                        <td>29 Set 2017 14:32</td>
                        <td><input type="submit" value="ver" align="right" /></td>
                        <td><input type="submit" value="Cancelar" align="right" /></td>
                    </tr>
                    <tr>
                        <td>Pablo</td>
                        <td>83</td>
                        <td>cancelado</td>
                        <td>29 Set 2017 14:32</td>
                        <td><input type="submit" value="ver"
                                   align="right" /></td>
                        <td><input type="submit" value="Cancelar" align="right" /></td>
                    </tr>
                </table>

                <!-- Tabla con Contacto, Dirección de envío, Fecha ingreso -->
                <table id="detallePedido">
                    <tr>
                        <td>Fecha: </td>
                        <td>th:text </td>
                    </tr>
                    <tr>
                        <td>Dirección: </td>
                        <td>th:text </td>
                    </tr>
                    <tr>
                        <td>Contacto: </td>
                        <td>th:text </td>
                    </tr>
                </table>

                <table id="linesPedido">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                    </tr>
                    <tr>
                        <td>Mortadela Etiqueta azul</td>
                        <td>15</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">Total: </td>
                    </tr>

                </table>

                <table style="border: none">
                    <tr>
                        <td td colspan="4" align="right"><input type="button" value="Limpiar" /></td>
                    </tr>
                </table>

            </form>
            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>