<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
    <header th:replace="fragments/header :: menu"> </header>
</th:block>

<th:block th:if="${session.usuarioLogueado.rol == 'funcionario'}">
    <header th:replace="fragments/header :: menuFuncionario"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Generar viaje</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <form action="#" th:action="@{/GenerarViaje}" method="post">
                <table>
                    <tr>
                        <td style="width: 20%">Repartidor: </td>
                        <td>
                            <select style="width: 40%" name="repartidor">
                                <option th:value="NULL">Seleccione Repartidor</option>
                                <option th:each="rep : ${repartidores}" th:value="${rep.Ci}" th:text="${rep.Nombre}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Vehiculo: </td>
                        <td>
                            <select style="width: 40%" name="vehiculo">
                                <option th:value="NULL">Seleccione Vehiculo</option>
                                <option th:each="v : ${vehiculos}" th:value="${v.Matricula}" th:text="${v.Matricula + ', ' + v.Marca + ' ' + v.Modelo}"></option>
                            </select>
                        </td>
                    </tr>
                </table>

                <div style="overflow-x : auto;">
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Total</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.Id}"></td>
                            <td th:text="${#dates.format(pedido.Fecha, 'dd/MM/yyyy')}"></td>
                            <td th:text="${pedido.Cliente.Nombre}"></td>
                            <td th:text="${'$' + pedido.Total}"></td>
                            <td><input class="pedido" type="checkbox" name="pedidos" th:value="${pedido.Id}"/></td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"><input type="submit" name="action" value="Generar viaje"/></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </form>

            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<script>
    $('.pedido').on('change', function() {
       if($('.pedido:checked').length > 5) {
           this.checked = false;
       }
    });
</script>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>