<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: menuIndex">

</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header >
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Ingreso al sistema mediante login.</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/}" method="post">
                <table>
                    <tr>
                        <td style="width: 20%">C.I.: (Sin puntos ni guiones)</td>
                        <td>
                            <input type="text" name="cedula" placeholder="Cédula" style="width: 45%"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Contraseña: </td>
                        <td><input type="password" name="contrasenia" placeholder="Contraseña" style="width: 45%"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="text-align: right; width: 56%">
                                <input type="submit" name="action" value="Ingresar"/>
                            </p>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <label th:text="${mensaje}"></label>
                        </td>
                    </tr>
                </table>
            </form>

        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>