<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: menu">

</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header >
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Ingreso al sistema mediante login.</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/}" method="post">
                <table>
                    <tr>
                        <td style="width: 30%">C.I. (Sin puntos ni guiones): </td>
                        <td><input type="text" name="cedula" placeholder="Cédula" style="width: 45%"/> </td>
                    </tr>
                    <tr>
                        <td>Contraseña: </td>
                        <td><input type="password" name="contrasenia" placeholder="Contraseña" style="width: 45%"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="text-align: right; width: 62%">
                                <input type="submit" name="action" value="Ingresar"/>
                                <input type="reset" name="action" value="cancelar"/>
                            </p>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <label th:text="${mensaje}"></label>
                        </td>
                    </tr>
                </table>
            </form>

        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">

    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>
<script th:src="@{assets/js/ddlFiltrable.js}"></script>

</body>
</html>