<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado De Pedidos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
    <style>
        .grilla tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}
    </style>

</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
    <header th:replace="fragments/header :: menu"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <h3>Listado de pedidos</h3>

            <form action="#" th:action="@{/ListadoDePedidos}" method="post">
                <table>
                    <tr>
                        <td>Cliente: </td>
                        <td>
                            <select name="cliente">
                                <option th:value="null">---</option>
                                <option th:each="c : ${session.clientes}" th:value="${c.Nombre}" th:text="${c.Nombre}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Fechas: </td>
                        <td>Inicial: <input type="date" name="fechaIni"/></td>
                        <td>Final: <input type="date" name="fechaFin"/></td>
                    </tr>
                    <tr>
                        <td>Importe: </td>
                        <td>Min: <input type="number" step="any" name="importeMin"/></td>
                        <td>Max: <input type="number" step="any" name="importeMax"/></td>
                    </tr>
                    <tr>
                        <td>Estado: </td>
                        <td>
                            <select name="estado">
                                <option th:value="null">---</option>
                                <option value="pendiente">pendiente</option>
                                <option value="en preparacion" >en preparacion</option>
                                <option value="preparado" >preparado</option>
                                <option value="en distribucion" >en distribucion</option>
                                <option value="entregado" >entregado</option>
                                <option value="entrega fallida">entrega fallida</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Op. Telefonico: </td>
                        <td>
                            <select name="opTel">
                                <option th:value="null">---</option>
                                <option th:each="op : ${session.operadores}" th:value="${op.Ci}" th:text="${op.Nombre}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Preparador: </td>
                        <td>
                            <select name="preparador">
                                <option th:value="null">---</option>
                                <option th:each="f : ${session.funcionarios}" th:value="${f.Ci}" th:text="${f.Nombre}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Repartidor: </td>
                        <td>
                            <select name="repartidor">
                                <option th:value="null">---</option>
                                <option th:each="r : ${session.repartidores}" th:value="${r.Ci}" th:text="${r.Nombre}"></option>
                            </select>
                        </td>
                        <td align="right"><input type="submit" name="action" value="Filtrar"/></td>
                    </tr>

                </table>
            </form>
            <!-- Formulario con la Tabla -->
            <table id="tablaPedidos" width="100%">
                <thead>
                <tr>
                    <th id="thIdPedido">Id</th>
                    <th id="thCliente">Cliente</th>
                    <th id="thFecha">Fecha</th>
                    <th id="thEstado">Estado</th>
                    <th id="thTotal">Total</th>
                    <th id="thOpTel">Op. Telefonico</th>
                    <th id="thPreparador">Preparador</th>
                    <th id="thRepartidor">Repartidor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${listadoPedidos}">
                    <form action="#" th:action="@{/EstadoDePedido}" method="post">
                        <td th:text="${p.Id}"></td>
                        <td th:text="${p.Cliente.Nombre}"></td>
                        <td th:text="${#dates.format(p.Fecha, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${p.Estado}"></td>
                        <td th:text="${p.Total}"></td>
                        <td th:text="${p.Operador.Nombre}"></td>
                        <td th:text="${p.Funcionario == null}? ${'---'} : ${p.Funcionario.Nombre}"></td>
                        <td th:text="${p.Repartidor == null}? ${'---'} : ${p.Repartidor.Nombre}"></td>
                        <td>
                            <input type="hidden" th:value="${p.Id}" name="idPedido"/>
                            <input type="submit" name="action" value="Ver" />
                        </td>
                    </form>
                </tr>

                </tbody>
            </table>

            <form action="#" th:action="@{/ListadoDePedidos}" method="get">
                <input type="submit" value="Reestablecer" />
            </form>

            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<script th:src="@{/assets/js/smpSortableTable.js}"> </script>


<script>
    $('#tablaPedidos').smpSortableTable(false, 15, "es");
</script>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>