<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: menu">

</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Realización de Picking</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <!--<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>-->
            <label th:if="${tablaPedidos}">Seleccione hasta 5 pedidos:</label>

                <table th:if="${tablaPedidos}">
                    <form action="#" th:action="@{/RealizarPicking}" method="post">
                        <thead>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr th:each="pedido : ${pedidos}">
                                <td th:text="${pedido.Id}"></td>
                                <td th:text="${#dates.format(pedido.Fecha, 'dd/MM/yyyy')}"></td>
                                <td th:text="${pedido.Cliente.Nombre}"></td>
                                <td th:text="${'$' + pedido.Total}"></td>
                                <td><input class="pedido" type="checkbox" name="pedidos" th:value="${pedido.Id}"/></td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right"><input type="submit" name="action" value="Seleccionar"/></td>
                            </tr>
                        </tbody>
                    </form>
                </table>

            <label th:if="${tablaPicking}">Detalle del Picking:</label>
            <table th:if="${tablaPicking}">
                <thead>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Ubicaciones</th>
                </thead>
                <tbody>
                    <tr th:each="picking : ${session.listaPicking}">
                        <td th:text="${picking.Producto.Nombre}"></td>
                        <td th:text="${picking.Cantidad}"></td>
                        <td th:text="${picking.UbicacionesString}"></td>
                    </tr>
                    <tr><td colspan="2" align="right">
                        <form action="#" th:action="@{/PreparacionPedidos}" method="post">
                            <input type="submit" name="action" value="Finalizar"/>
                        </form>
                        <form action="#" th:action="@{/RealizarPicking}" method="post">
                             <input type="submit" name="action" value="Cancelar Picking"/>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>


            <label th:text="${mensaje}"></label>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">

    <p class="copyright">&copy; Dieguin y Alvarin corporation. All rights reserved.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<script>
        $('.pedido').on('change', function() {
           if($('.pedido:checked').length > 5) {
               this.checked = false;
           }
        });
</script>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"> </script>
<script th:src="@{assets/js/jquery.dropotron.min.js}"> </script>
<script th:src="@{assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{assets/js/skel.min.js}"></script>
<script th:src="@{assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{assets/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>