<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Lote</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{/assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{assets/css/ie9.css}" /><![endif]-->

    <style>
        .grilla tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.075);
        }
    </style>
</head>
<body>

<!-- Header -->
<th:block th:if="${session.usuarioLogueado.rol == 'gerente'}">
    <header th:replace="fragments/header :: menu"> </header>
</th:block>

<th:block th:if="${session.usuarioLogueado.rol == 'funcionario'}">
    <header th:replace="fragments/header :: menuFuncionario"> </header>
</th:block>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header >
            <h2>Sección Usuarios</h2>
        </header>

        <!-- Content -->
        <div class="content">
            <h3>Datos de lote</h3>
            <!-- Formulario con la Tabla -->
            <form action="#" th:action="@{/VerLote}" name="VerLote" method="post">
                <div style="overflow-x: auto">
                    <table id="infoPartA" style="display: inline">
                        <thead>
                            <th># ID</th>
                            <th>Ubicación</th>
                            <th>Producto</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${lote.Id}"></td>
                            <td th:text="${lote.Ubicacion.UbicacionString}"></td>
                            <td th:text="${lote.Producto.Nombre}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="infoPartB" style="display: inline">
                        <thead>
                            <th>Cantidad</th>
                            <th>Fecha ingreso</th>
                            <th>vence</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${lote.cantUnidades}"></td>
                            <td th:text="${#dates.format(lote.fechaIngreso, 'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(lote.fechaVencimiento, 'dd/MM/yyyy')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </form>

        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>